.quote-container {
  width: auto;
  max-width: 90rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 1rem 1rem 1rem rgba(0, 0, 0, 0.2);

  @include max(m) {
    margin: auto 1rem;
  }
}

.quote-text {
  font-size: 4.4rem;

  @include max(m) {
    font-size: 4rem;
  }
}

.long-quote {
  font-size: 3.2rem;
}

.fa-quote-left {
  font-size: 6.4rem;
}

.quote-author {
  margin-top: 1.5rem;
  font-size: 3.2rem;
  font-weight: 400;
  font-style: italic;
}
